.DS_Store

# Xcode user-specific settings and temp files
*.xcsettings
*.xcuserdatad/
*.xcuserdata/
*.xcworkspace/xcuserdata/
*.xcworkspace/xcshareddata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/xcshareddata/
*.xcodeproj/xcuserdata/
*.xcodeproj/xcshareddata/

# Build products
DerivedData/
build/
yoony/OSRM/south-korea-latest.osm.pbf
yoony/OSRM/south-korea-latest.osrm.cell_metrics
yoony/OSRM/south-korea-latest.osrm.cells
yoony/OSRM/south-korea-latest.osrm.cnbg
yoony/OSRM/south-korea-latest.osrm.cnbg_to_ebg
yoony/OSRM/south-korea-latest.osrm.datasource_names
yoony/OSRM/south-korea-latest.osrm.ebg
yoony/OSRM/south-korea-latest.osrm.ebg_nodes
yoony/OSRM/south-korea-latest.osrm.edges
yoony/OSRM/south-korea-latest.osrm.enw
yoony/OSRM/south-korea-latest.osrm.fileIndex
yoony/OSRM/south-korea-latest.osrm.geometry
yoony/OSRM/south-korea-latest.osrm.icd
yoony/OSRM/south-korea-latest.osrm.maneuver_overrides
yoony/OSRM/south-korea-latest.osrm.mldgr
yoony/OSRM/south-korea-latest.osrm.names
yoony/OSRM/south-korea-latest.osrm.nbg_nodes
yoony/OSRM/south-korea-latest.osrm.partition
yoony/OSRM/south-korea-latest.osrm.properties
yoony/OSRM/south-korea-latest.osrm.ramIndex
yoony/OSRM/south-korea-latest.osrm.restrictions
yoony/OSRM/south-korea-latest.osrm.timestamp
yoony/OSRM/south-korea-latest.osrm.tld
yoony/OSRM/south-korea-latest.osrm.tls
yoony/OSRM/south-korea-latest.osrm.turn_duration_penalties
yoony/OSRM/south-korea-latest.osrm.turn_penalties_index
yoony/OSRM/south-korea-latest.osrm.turn_weight_penalties
