//
//  Secret.xcconfig
//  Starbucks_project
//
//  Created by Yoonseo on 5/10/25.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

KAKAO_NATIVE_APP_KEY=b57f366668f18e2c100006aaf0241505

KAKAO_REST_API_KEY=7c3d65a0ba04a510491a4872b9e8f95e

GOOGLE_API_KEY=AIzaSyBqcl5FMBAZhBgXEVIWs9TGUO6XVFatRFE
