//
//  Secret.xcconfig
//  week9_practice
//
//  Created by 주민영 on 6/18/25.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

SERVICE_KEY = BV%2FVlBiDbCOjjnQBYf%2F3WyzNZTRGkZVIyoVB%2FhtaTKnbZMZ7wDmSLavvxyEmruMOOT2Xi08uPv3llWc3%2FM0E2g%3D%3D
