//
//  Secret.xcconfig
//  TestAlamofire
//
//  Created by 이서현 on 5/10/25.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project
API_URL = https://f3b0-14-40-79-213.ngrok-free.app
