//
//  Secret.xcconfig
//  UMC-iOS-WorkBook-6-Alamofire
//
//  Created by 곽은채 on 5/12/25.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

API_URL = https:/$()/0c5a-203-249-77-25.ngrok-free.app
Image_URL = https:/$()/346f-203-249-77-25.ngrok-free.app
