//
//  Secret.xcconfig
//  week6Practice
//
//  Created by tokkislove on 5/10/25.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974


//API_URL = http:/$()/localhost:8080
API_URL = https:/$()/12e3-49-174-255-4.ngrok-free.app
Image_URL = https:/$()/9940-49-174-255-4.ngrok-free.app
