<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>위치 정보 사용</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>앱이 백그라운드에서 위치를 사용 할 수 있습니다.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Pretendard-Black.otf</string>
		<string>Pretendard-Bold.otf</string>
		<string>Pretendard-ExtraBold.otf</string>
		<string>Pretendard-ExtraLight.otf</string>
		<string>Pretendard-Medium.otf</string>
		<string>Pretendard-Regular.otf</string>
		<string>Pretendard-SemiBold.otf</string>
		<string>Pretendard-Thin.otf</string>
		<string>Pretendard-Light.otf</string>
	</array>
</dict>
</plist>
