<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>cloneStarbucks</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleName</key>
	<string>cloneStarbucks</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.umc.neulbo.cloneStarbucks</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>http://kakao2f106bf152ca4f1e2abf2230d526148c//oauth</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>kakaokompassauth</string>
	</array>
	<key>NATIVE_APP_KEY</key>
	<string>$(NATIVE_APP_KEY)</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>지오펜스를 사용하려면 위치 권한이 필요합니다.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>이 앱은 현재 위치를 표시하기 위해 위치 정보가 필요합니다.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>이 앱은 현재 위치를 표시하기 위해 위치 정보가 필요합니다.</string>
	<key>REST_API_KEY</key>
	<string>$(REST_API_KEY)</string>
	<key>UIAppFonts</key>
	<array>
		<string>Pretendard-ExtraBold.otf</string>
		<string>Pretendard-Bold.otf</string>
		<string>Pretendard-Black.otf</string>
		<string>Pretendard-Light.otf</string>
		<string>Pretendard-Medium.otf</string>
		<string>Pretendard-Regular.otf</string>
		<string>Pretendard-SemiBold.otf</string>
		<string>Pretendard-Thin.otf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
</dict>
</plist>
