<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>UIAppFonts</key>
	<array>
		<string>Pretendard-ExtraBold.otf</string>
		<string>Pretendard-Bold</string>
		<string></string>
		<string></string>
		<string>Pretendard-SemiBold</string>
		<string>Pretendard-Medium</string>
		<string>Pretendard-Regular</string>
		<string>Pretendard-Light</string>
	</array>
</dict>
</plist>
