//
//  Secret.xcconfig
//  MyStarbucks
//
//  Created by 주민영 on 5/18/25.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

GOOGLE_API_URL = https:/$()/maps.googleapis.com/maps/api/place
KAKAO_API_URL = https:/$()/dapi.kakao.com/v2/local
DESTINATION_API_URL = http:/$()/localhost:9090/route/v1/foot

API_KEY = AIzaSyDGDa0ZDKiD2cUEmnFRPNR9h9DAYMORxrE
REST_API_KEY = 018665eb2d28012e92550b86f3c82078
NATIVE_APP_KEY = 852ae417dc47397454350338f8415854
