//
//  Secret.xcconfig
//  UMC_Starbucks
//
//  Created by 이서현 on 5/19/25.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project
KAKAO_NATIVE_APP_KEY = 167428c588d130f15e542296f73277f5
REST_API_KEY = 4f1fb1b08be15e4edf1d71003fb065ba
OSRM_BASE_URL= http://localhost:8080
