//
//  Secret.xcconfig
//  2025-UMC-iOS
//
//  Created by 이효주 on 5/10/25.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

KAKAO_NATIVE_APP_KEY=74af6f3f1c652b01b7b0b948be24f509
BASE_URL = http://localhost:5000
KAKAO_REST_API_KEY = 55451f8358cb3521559299aa49e2b589
