//
//  Secrets.xcconfig
//  STARBUCKS
//
//  Created by 신민정 on 5/19/25.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

KAKAO_REST_API_KEY=93706baff0a136a7c1e71617cecc101e
KAKAO_REDIRECT_URI=https:/$()/kakao93706baff0a136a7c1e71617cecc101e/oauth
OSRM_BASE_URL = http:/$()/192.168.144.235:8080
GOOGLE_API_KEY = AIzaSyAtHCLyvTIDaTmmXq0uGH9OyShdZKeI6qY

