<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key></key>
	<string></string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>CFBundleURLName</key>
			<string>ㅡ</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kakao59e91991905b5028f7c77172a4024a75</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
	</array>
	<key>GOOGLE_API_KEY</key>
	<string>$(GOOGLE_API_KEY)</string>
	<key>KAKAO_REDIRECT_URI</key>
	<string>$(KAKAO_REDIRECT_URI)</string>
	<key>KAKAO_REST_API_KEY</key>
	<string>$(KAKAO_REST_API_KEY)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>kakaokompassauth</string>
		<string>kakaolink</string>
	</array>
	<key>OSRM_BASE_URL</key>
	<string>http://192.168.35.35:8080</string>
	<key>UIAppFonts</key>
	<array>
		<string>Pretendard-Bold.otf</string>
		<string>Pretendard-Black.otf</string>
		<string>Pretendard-Medium.otf</string>
		<string>Pretendard-Regular.otf</string>
		<string>Pretendard-SemiBold.otf</string>
		<string>Pretendard-ExtraBold.otf</string>
		<string>Pretendard-ExtraLight.otf</string>
		<string>Pretendard-Light.otf</string>
		<string>Pretendard-Thin.otf</string>
	</array>
</dict>
</plist>
